<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Hello, world!</h1>

    <head>Admin</head>
    <aside>
    	<ul>
    		<li>
    			<a href="#">Home Admin</a>
    		</li>
    		<li>
    			<a href="#">Ql sp</a>
    		</li>
    		<li>
    			<a href="#">Exit</a>
    		</li>
    	</ul>
    </aside>
    <section>
    	<div class="row">
    		<form action="admin_controller.php?act=qlsp" method="post" enctype="multipart/form-data">
    			<input type="text" name="name" id="" placeholder="name">
    			<input type="text" name="title" id="" placeholder="title">
    			<input type="file" name="img" id="">
    			<input type="submit" value="Add" name="add">
    		</form>
    	</div>
    	<div class="row">
    		<table>
    			<tr>
    				<td>id</td>
    				<td>name</td>
    				<td>image</td>
    				<td>title</td>
    				<td>edit</td>
    				<td>delete</td>
    			</tr>
    		</table>
    	</div>
    </section>
    <footer>Copyright</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>